p {
  font-size: 16px !important;
}

.nav {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  /* background-position-y: top; */
  background-size: cover;
}

.select2-selection__rendered {
  width: 50%;
}

.nav h5 {
  font-size: 40px;
  font-weight: bolder;
  color: white;
}

.sub-nav hr {
  width: 60%;
  border-color: #005896 !important;
  justify-content: center;
}

.bg-bulat {
  width: 50px;
  height: 50px;
  background-color: #d5e0ec;
  border-radius: 50%;
}

.kotak {
  width: 55px;
  height: 55px;
}

.bulat {
  width: 35px;
  height: 35px;
  background-color: #005896;
  border-radius: 50%;
}

.main hr {
  width: 10%;
  height: 0px;
  border-color: #005896 !important;
  align-items: center !important;
}

.card {
  width: 70%;
  background-color: #d5e0ec;
  border: none;
}

.main h3 {
  font-size: 20px;
  color: white;
}

/* .card-body p{
    width: 30%;
} */
