* {
    /* padding: 0;
margin: 0; */
    box-sizing: border-box;
}

/* .card-img-top {
border-radius: 50px;
padding: 20px;
} */

.btn-filter-anggota {
    background: #0169b8 !important;
    color: #fff !important;
}
.btn-filter-anggota:hover {
    border: 1px solid #0169b8 !important;
    background-color: #fff !important;
    color: #0169b8 !important;
}

.form-check-input:checked {
    background-color: #005896 !important;
}

/* .card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card-body {
  padding: 25px;
  margin-top: -15px;
} */
/* .btn-primary {
border-radius: 10px;
width: 120px;
} */

/* .btn-primary:hover {
  background-color: black;
  border: none;
} */

.chevron-icon {
    display: inline-block;
    transition: transform 0.3s; /* Adjust the duration and timing function as needed */
}

.chevron-down {
    transform: rotate(90deg);
}

/* .kontak-heading.collapsed .chevron-icon{
  transform: rotate(90deg);
}

.kontak-heading .chevron-icon{
  transform: rotate(0deg);
} */

.stripe {
    display: inline-block;
    width: 2px;
    height: 14px;
    background-color: #d9d9d9;
}

.profil-anggota-btn {
    border-radius: 20px;
    background: linear-gradient(90deg, #3487c6 0%, #0169b8 100%);
    width: 100%;
}

.card-anggota {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.search-wrapper input:focus {
    outline: none;
    box-shadow: none; /* Removes the box shadow that Bootstrap adds on focus */
}
